*{
    margin: 0;
    font-size: 16px;
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
}
h1{
    font: 2rem 'Dancing Script', cursive;
}
header img{
    height: 90%;
    width: auto;
    margin: 0.3rem;

}

#prideshow{
    height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.prideslide{
    object-fit: contain;

}
.prideslide img{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.prev, .next{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    opacity: 0.50;
    color: white;
    font-weight: lighter;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#summary{
    background-color: #4CAF50;
}
#info{
    background-color:blue;
}
#form{
    background-color:orangered;
}
.tabs{
    border: none;
}
h2{

}
#summary{

}
#info